*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
}

.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
}
.side-bar{
  display: flex;
  align-items: center;
  height: 85vh;
}

.dropdown {
  font-size: 16px;
  font-weight:lighter;  
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  margin-left: 15px;
  float: left;
  overflow: hidden;
  
  
}    
.dropdown-content {
  display:none;
  position: absolute;
  min-width: 200px; 
  background-color:#e5e5e5;
  height: 300vh;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 10px 1px;
  text-decoration: none;
  display: block;
  text-align: left;
  
  
} 

img:hover {
background-color: rgb(189, 188, 188);
border: 30px;
}



span{
  
  
  margin-left: 5px;
  margin-top:  -100px;

}

.dropdown-content a:hover {
  background-color: rgb(189, 188, 188);
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* Search section */
#search-container{
  display: flex;
  justify-content:center
}
#search{
  padding: 5px;
  width: 600px;
  height:50px;
  border-radius: 4px;
  margin-top: 5px;
  color:rgb(78, 62, 62);
}
button{
  padding: 2px;
  width: 70px;
  height: 50px;
  margin: 5px -5px;
  border-radius: 4px;
  background-color: rgb(248, 248, 248) ;
  
  
}
#mic{
  margin: 5px 25px;
  font-size: 20px;
  background-color: rgb(248, 248, 248);
  border-radius: 80px;
  padding: 10px;
  color: rgb(78, 62, 62);

}
.navbar-right{
  display:flex;
 justify-content:space-between
  
  
}
.material-icons{
  font-size: 30px;
  padding: 8px;
  cursor: pointer;
  
}
hr{
    background-color:#e5e5e5;
    height:5px
}

