*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
}

.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
}
.side-bar{
  display: flex;
  align-items: center;
  height: 85vh;
}

.dropdown {
  font-size: 16px;
  font-weight:lighter;  
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  margin-left: 15px;
  float: left;
  overflow: hidden;
  
  
}    
.dropdown-content {
  display:none;
  position: absolute;
  min-width: 200px; 
  background-color:#e5e5e5;
  height: 300vh;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 10px 1px;
  text-decoration: none;
  display: block;
  text-align: left;
  
  
} 

img:hover {
background-color: rgb(189, 188, 188);
border: 30px;
}



span{
  
  
  margin-left: 5px;
  margin-top:  -100px;

}

.dropdown-content a:hover {
  background-color: rgb(189, 188, 188);
}
.dropdown:hover .dropdown-content {
  display: block;
}


